In [1]:
import pandas as pd
import numpy as np

In [2]:
log = pd.read_csv("data/likelihood_data/yule-10_140_100_logs_gamma-beta-corr.log")
normal = pd.read_csv("data/likelihood_data_non_log/yule-10_140_100_logs_gamma-beta-corr.log")

In [3]:
normal.log_posterior = np.log(normal.log_posterior)

/Users/tobiaochsner/Documents/Thesis/Validation/.venv/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [4]:
normal = normal.sort_values("state")
log = log.sort_values("state")

In [5]:
normal.log_posterior.describe()

/Users/tobiaochsner/Documents/Thesis/Validation/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

count    4.924700e+04
mean             -inf
std               NaN
min              -inf
25%      3.501807e+01
50%      3.754887e+01
75%      3.929080e+01
max      4.875719e+01
Name: log_posterior, dtype: float64

In [6]:
log.log_posterior.describe()

/Users/tobiaochsner/Documents/Thesis/Validation/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

count    4.924700e+04
mean             -inf
std               NaN
min              -inf
25%      3.528666e+01
50%      3.759947e+01
75%      3.929982e+01
max      4.405939e+01
Name: log_posterior, dtype: float64

In [7]:
log.log_posterior[log.log_posterior != -np.inf].describe()

count    4.687000e+04
mean    -2.444540e+01
std      9.646902e+03
min     -2.048282e+06
25%      3.572515e+01
50%      3.777903e+01
75%      3.938190e+01
max      4.405939e+01
Name: log_posterior, dtype: float64

In [8]:
normal.log_posterior[normal.log_posterior != -np.inf].describe()

count    44836.000000
mean        37.284243
std          7.788570
min       -699.757632
25%         35.905847
50%         37.882650
75%         39.450699
max         48.757193
Name: log_posterior, dtype: float64

In [9]:
len(log.log_posterior[log.log_posterior != -np.inf])

46870

In [10]:
len(normal.log_posterior[normal.log_posterior != -np.inf])

44836

In [11]:
log[log.log_posterior != -np.inf].sort_values("log_posterior", ascending=True).head(10)

                state  log_posterior
14199  STATE_25153000  -2.048282e+06
15040  STATE_24881000  -2.820045e+05
33709  STATE_38835000  -2.522150e+05
41141  STATE_23611000  -1.340467e+05
7702    STATE_1626000  -4.364588e+04
11449  STATE_18799000  -3.558875e+04
23267  STATE_24920000  -3.091623e+04
6592   STATE_32367000  -3.008083e+04
28554  STATE_33657000  -8.504268e+03
37479  STATE_30127000  -4.907828e+03

In [12]:
normal[normal.log_posterior != -np.inf].sort_values("log_posterior", ascending=True).head(10)

                state  log_posterior
18255  STATE_44920000    -699.757632
17826   STATE_8167000    -641.784978
28498  STATE_36276000    -573.930941
47456  STATE_40241000    -466.100639
31430  STATE_31634000    -391.791318
17925  STATE_39716000    -286.889533
30442  STATE_18424000    -233.268434
24787  STATE_45842000    -226.364668
3974   STATE_18564000    -195.812591
31035  STATE_20707000    -171.030354